body {
	padding: 0px;
	margin: 0px;
}

#header {
	height: 200px;
	background: #fcfcfc;	
	
	background: rgb(245,245,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(245,245,255,1) 0%, rgba(216,218,254,1) 47%, rgba(182,186,254,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,245,255,1)), color-stop(47%,rgba(216,218,254,1)), color-stop(100%,rgba(182,186,254,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(245,245,255,1) 0%,rgba(216,218,254,1) 47%,rgba(182,186,254,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(245,245,255,1) 0%,rgba(216,218,254,1) 47%,rgba(182,186,254,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(245,245,255,1) 0%,rgba(216,218,254,1) 47%,rgba(182,186,254,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(245,245,255,1) 0%,rgba(216,218,254,1) 47%,rgba(182,186,254,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5ff', endColorstr='#b6bafe',GradientType=0 ); /* IE6-9 */
	
	background:url(/sites/master/backend/images/bg.jpg);	
}

#header_nested {

	
	
	width: 100%;
	height: 100%;
	background:url(/sites/master/backend/images/logo.png);
	background-repeat: no-repeat;
	background-position: 100% 0%;
}

#header .title {
	
	background: transparent;
	padding-left: 35%;
	padding-top: 50px;
	border: none;
	
	
	font-size: 55px;
	overflow: hidden;
	line-height: .9em;
	font: bold 20px Arial, Helvetica, sans-serif;
}

#header  .page-header {
	border: none;
	
	/*margin-right: 50%;*/
}

form.frm_delproj {
	height: 12px;	
}


ul#dst_site,
ul#dst_site li{
	list-style: none;
	list-style-type:none;
}

div#proj_body {	
	margin: auto auto;
	margin-top: 40px;
	width: 90%;
	padding-left: 50px;
	border-radius: 5 5 5 5;
	border: 1px solid #000;
	/*height: 60%;*/
	background: #f0f0fc;
}

form#proj_form {
	
	
}

div#pnl_page {
	display:inline-block;
	width: 60%;
	vertical-align: top;
}

div#pnl_left {
	display:inline-block;
	width: 75%;
	vertical-align: top;
	margin-left: 5px;
}

div#pnl_right {
	display:inline-block;
	/*float:right;
	width: 15%;*/
	margin-left: 5px;
	margin-top: 10px;
	vertical-align: top;
}

/* ui tabs */
.section {
	width: 600px;
	background: #EFEFEF;
	margin: 30px;
}
ul.tabs {
	height: 28px;
	line-height: 25px;
	list-style: none;
	border-bottom: 1px solid #DDD;
	background: #FFF;
}
.tabs li {
	float: left;
	display: inline;
	margin: 0 1px -1px 0;
	padding: 0 13px 1px;
	color: #777;
	cursor: pointer;
	background: #F9F9F9;
	border: 1px solid #E4E4E4;
	border-bottom: 1px solid #F9F9F9;
	position: relative;
}
.tabs li:hover,
.vertical .tabs li:hover {
	color: #F70;
	padding: 0 13px;
	background: #FFFFDF;
	border: 1px solid #FFCA95;
}
.tabs li.current {
	color: #444;
	background: #EFEFEF;
	padding: 0 13px 2px;
	border: 1px solid #D4D4D4;
	border-bottom: 1px solid #EFEFEF;
}
.box {
	display: none;
	border: 1px solid #D4D4D4;
  border-width: 0 1px 1px;
	background: #EFEFEF;
	padding: 0 12px;
}
.box.visible {
	display: block;
}

/* nested tabs */
.ui-tabs.ui-tabs-vertical {
    padding: 0;
    width: 42em;
}
.ui-tabs.ui-tabs-vertical .ui-widget-header {
    border: none;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav {
    float: left;
    width: 10em;
    background: #CCC;
    border-radius: 4px 0 0 4px;
    border-right: 1px solid gray;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    margin: 0.2em 0;
    border: 1px solid gray;
    border-width: 1px 0 1px 1px;
    border-radius: 4px 0 0 4px;
    overflow: hidden;
    position: relative;
    right: -2px;
    z-index: 2;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a {
    display: block;
    width: 100%;
    padding: 0.6em 1em;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a:hover {
    cursor: pointer;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: 0.2em;
    padding-bottom: 0;
    border-right: 1px solid white;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li:last-child {
    margin-bottom: 10px;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-panel {
    float: left;
    width: 28em;
    border-left: 1px solid gray;
    border-radius: 0;
    position: relative;
    left: -1px;
}

#thetitle {
	/*background: #ddddfd;*/
	/*width: 500px;*/
	/*z-index: 50;*/
}

#sck_title {
	font-size: 20px;
	color: #000;
	margin-left: 70px;
	margin-right: 50px;
}

#webfactory_title {
	font-size: 35px;
	color: #55d;
}

div#tabs th {
	vertical-align: top;
}

div#menu ul{
	list-style: none;
}

div#menu ul li{
	list-style: none;
	display: inline;
}

div#menu ul li a {
	color: #22222f;
	background-color: #dfffff;
	border-radius: 2;
	border: 1px solid #111111;
	padding: 5px;
	text-decoration: none;
}

div#menu ul li a:hover {
	color: #222f22;
	background-color: #fcffff;	
}

div#menu ul li a:active {
	color: #dd2f22;
	background-color: #dfdfff;	
}
/* arraybox */
div#array_box_enterpoints input[type="image"] {
	
}

div#array_box_enterpoints div.array_item {
	padding: 0px;
}

div#array_box_enterpoints div#array_item input[type="text"] {
	margin-top:0px;
}

div#array_box_enterpoints div.array_item div.textbox {
	margin-top:0px;
	margin-bottom:0px;
	display:inline;
}

div#array_box_enterpoints div.array_item div.drop {
	margin-top:0px;
	margin-bottom:0px;
	display:inline;
}

#MyTree {
		width: 400px;
		height: 300px;
		margin-bottom: 15px;
	}

	
	/**/
.tree {
    min-height:20px;
    padding:19px;
    margin-bottom:20px;
    background-color:#fbfbfb;
    border:1px solid #999;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}

input[name="newsitename"] {
	width: 150px;
	margin-left: -20px;
	margin-top: 20px;
}

.site-to_compile {
	width: 200px;
}