body {
	padding: 0px;
	margin: 0px;
}

#header {
	height: 200px;
	background: #fcfcfc;	
}

#header_nested {

	width: 100%;
	height: 100%;
	background:url(/sites/master/backend/images/logo.jpg);
}

form.frm_delproj {
	height: 12px;	
}


ul#dst_site,
ul#dst_site li{
	list-style: none;
	list-style-type:none;
}

div#proj_body {
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 40px;
	
	padding: 10px;
	border-radius: 5 5 5 5;
	border: 1px solid #000;
	/*height: 60%;*/
	background: #f0f0fc;
}

form#proj_form {
	
	
}

div#pnl_page {
	display:inline-block;
	width: 60%;
	vertical-align: top;
}

div#pnl_left {
	display:inline-block;
	width: 75%;
	vertical-align: top;
	margin-left: 5px;
}

div#pnl_right {
	display:inline-block;
	/*float:right;
	width: 15%;*/
	margin-left: 5px;
	margin-top: 10px;
	vertical-align: top;
}

/* ui tabs */
.section {
	width: 600px;
	background: #EFEFEF;
	margin: 30px;
}
ul.tabs {
	height: 28px;
	line-height: 25px;
	list-style: none;
	border-bottom: 1px solid #DDD;
	background: #FFF;
}
.tabs li {
	float: left;
	display: inline;
	margin: 0 1px -1px 0;
	padding: 0 13px 1px;
	color: #777;
	cursor: pointer;
	background: #F9F9F9;
	border: 1px solid #E4E4E4;
	border-bottom: 1px solid #F9F9F9;
	position: relative;
}
.tabs li:hover,
.vertical .tabs li:hover {
	color: #F70;
	padding: 0 13px;
	background: #FFFFDF;
	border: 1px solid #FFCA95;
}
.tabs li.current {
	color: #444;
	background: #EFEFEF;
	padding: 0 13px 2px;
	border: 1px solid #D4D4D4;
	border-bottom: 1px solid #EFEFEF;
}
.box {
	display: none;
	border: 1px solid #D4D4D4;
  border-width: 0 1px 1px;
	background: #EFEFEF;
	padding: 0 12px;
}
.box.visible {
	display: block;
}

/* nested tabs */
.ui-tabs.ui-tabs-vertical {
    padding: 0;
    width: 42em;
}
.ui-tabs.ui-tabs-vertical .ui-widget-header {
    border: none;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav {
    float: left;
    width: 10em;
    background: #CCC;
    border-radius: 4px 0 0 4px;
    border-right: 1px solid gray;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    margin: 0.2em 0;
    border: 1px solid gray;
    border-width: 1px 0 1px 1px;
    border-radius: 4px 0 0 4px;
    overflow: hidden;
    position: relative;
    right: -2px;
    z-index: 2;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a {
    display: block;
    width: 100%;
    padding: 0.6em 1em;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a:hover {
    cursor: pointer;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: 0.2em;
    padding-bottom: 0;
    border-right: 1px solid white;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li:last-child {
    margin-bottom: 10px;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-panel {
    float: left;
    width: 28em;
    border-left: 1px solid gray;
    border-radius: 0;
    position: relative;
    left: -1px;
}

#thetitle {
	/*background: #ddddfd;*/
	/*width: 500px;*/
	/*z-index: 50;*/
}

#sck_title {
	font-size: 20px;
	color: #000;
	margin-left: 70px;
	margin-right: 50px;
}

#webfactory_title {
	font-size: 35px;
	color: #55d;
}

div#tabs th {
	vertical-align: top;
}

div#menu ul{
	list-style: none;
}

div#menu ul li{
	list-style: none;
	display: inline;
}